<%- include("partials/header") -%>
<main>
    <input type="hidden" id="player-number" value=<%= playerNumber %>>
    <input type="hidden" id="nickname" value=<%= nickname %>>

    
    
    <% if(joinGame) { %>
        <input type="hidden" id="game-code" value=<%= gameCode %>>
    <% } %>
    <div id="game-screen">
        <div class="alert">
            <h1 class="alert-message"></h1>
        </div>
        <%- include('partials/multiplayer-settings', {playerNumber: playerNumber}) -%>
        <div class="grid-container">
            <h1 id="countdown"></h1>
            <h1 id="game-message"></h1>
            <canvas id="canvas"></canvas>
            <div id="game-code-div">
                <div class="settings-icon"></div>
                <p id="your-game-code" class="text-info"></p>
                <p class="text-info controls-info">controls: ← ↑ → ↓</p>
                <div class="chat-icon"></div>
            </div>
        </div>
        <%- include('partials/game-chat') -%>
        <%- include('partials/mobile-controls') -%>
        
        <!-- Only visible on portrait -->
        <button id="mobile-start-game-btn" class="lobby-btn">Start game</button>

    </div>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/gameplay/multiplayer.js" type="module"></script>

<%- include("partials/footer") -%>
